@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700')
@import 'nib'


html
button
input
select
textarea
  color: $defaultTextColor

body
  font-size: 100%
  padding: 0
  margin: 0
  font-family:'Noto Sans', sans-serif

p
h1
h2
h3
h4
h6
  padding: 0
  margin: 0

ul
  margin: 0
  padding:0
  list-style-type: none
a
  text-decoration: none
  color: $linkColor

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

img
  max-width: 100%
  height: auto
  -ms-interpolation-mode: bicubic
  display: inline-block
  vertical-align: middle



