
@import 'nib'

.hide
  display: none

.invisible
  visibility: hidden

.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center

.bold
  font-weight: bold
.italic
  font-style: italic

.pull-right
  float: right
.pull-left
  float: left

.clear
  clear: both
